@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  overflow-x: hidden;
}

img {
  height: auto;
}

a {
  text-decoration: none;
  color: #0c3f97;
}

ul {
  list-style: none;
}

.container {
  position: relative;
  max-width: 1392px;
  margin: 0 auto;
  padding: 0 15px;
}

.bg-grey a {
  background-color: #d0d2d2 !important;
}

.overflow {
  overflow: hidden;
}

.header {
  overflow: hidden;
}

@media (max-width: 800px) {
  .header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 999;
  }
}

.header-top {
  background-image: url(../images/header/header-top.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 1270px) {
  .header-top {
    background-image: url(../images/header/header-top-left__repeat.png);
    background-repeat: repeat;
    background-size: contain;
    background-position-x: right;
    height: 80px;
  }
}

@media (max-width: 800px) {
  .header-top {
    background-image: none;
    background-color: #fff;
    height: 50px;
  }
}

.header-top .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 800px) {
  .header-top .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 1920px) {
  .header-top .container::before {
    position: absolute;
    content: '';
    /* left: 290px; */
    left: calc(-100% - 275px);
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/header/header-top-left__repeat.png);
    background-repeat: repeat;
    background-size: contain;
    background-position-x: right;
  }
  .header-top .container::after {
    position: absolute;
    content: '';
    /* left: 290px; */
    right: calc(-100% - 260px);
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/header/header-top-right__repeat.png);
    background-size: contain;
    background-position-x: left;
  }
}

.header-top__logo {
  margin: 10px 0;
  margin-right: 20px;
}

@media (min-width: 1270px) {
  .header-top__logo {
    display: none;
  }
}

.header-top__logo img {
  width: 200px;
}

@media (max-width: 800px) {
  .header-top__logo img {
    width: 150px;
  }
}

.header-top__title {
  font-size: 22px;
  font-weight: 700;
  color: #034ea1;
}

@media (max-width: 1270px) {
  .header-top__title {
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .header-top__title {
    display: none;
  }
}

.header-top__img {
  margin-right: -40px;
}

@media (max-width: 1270px) {
  .header-top__img {
    position: absolute;
    right: -40px;
    margin-right: 0;
  }
  .header-top__img img {
    max-width: 440px;
    -o-object-position: left;
       object-position: left;
    -o-object-fit: cover;
       object-fit: cover;
    height: 25px;
  }
}

@media (max-width: 1270px) and (max-width: 800px) {
  .header-top__img {
    display: none;
  }
}

.header-top__icons {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-top__icons a {
  margin-right: 24px;
}

@media (min-width: 800px) {
  .header-top__icons {
    display: none;
  }
}

.header-middle {
  background-image: url(../images/header/header-middle.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 135px;
  margin-top: -5px;
  overflow: hidden;
}

@media (max-width: 1270px) {
  .header-middle {
    background-image: none;
    background-color: #034ea1;
  }
}

@media (max-width: 800px) {
  .header-middle {
    display: none;
  }
}

.header-middle .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1920px) {
  .header-middle .container::before {
    position: absolute;
    content: '';
    /* left: 290px; */
    left: calc(-100% - 260px);
    top: -4px;
    width: 100%;
    height: 100%;
    background-image: url(../images/header/header-middle-left__repeat.png);
    background-repeat: repeat;
    background-size: contain;
    background-position-x: right;
  }
  .header-middle .container::after {
    position: absolute;
    overflow: hidden;
    content: '';
    /* left: 290px; */
    right: calc(-100% - 260px);
    top: 1px;
    width: 100%;
    height: calc(100% - 2px);
    background-color: #034ea1;
  }
}

.header-middle__logo a {
  display: block;
}

@media (max-width: 1280px) {
  .header-middle__logo img {
    width: 240px;
  }
}

@media (max-width: 1270px) {
  .header-middle__logo {
    display: none;
  }
}

.header-middle__info {
  margin-left: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
}

@media (max-width: 1270px) {
  .header-middle__info {
    margin-left: 0;
  }
}

.header-middle__info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header-middle__info-block span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-middle__info-block span:last-child {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header-middle__info-block span:last-child:hover {
  color: #fff;
}

.header-middle__info-block span:last-child:hover a {
  color: #fff;
}

.header-middle__info-block span:last-child a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-middle__info-block a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-middle__info-block a img {
  margin-right: 5px;
}

.header-middle__info-block span,
.header-middle__info-block a {
  color: #bbbdbf;
  -webkit-transition: ease-in-out color 0.2s;
  transition: ease-in-out color 0.2s;
}

.header-middle__info-block span:hover,
.header-middle__info-block a:hover {
  color: #fff;
}

.header-middle__info-block p {
  margin: 0;
}

.header-middle__info-block img + a,
.header-middle__info-block img + p {
  margin-left: 5px;
}

.header-middle__info-block span:first-child {
  margin-bottom: 10px;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-middle__info-block .person-icon {
  margin-top: 15px;
}

.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.header .header-menu > span,
.header .header-menu > span::before,
.header .header-menu > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #034ea1;
}

.header .header-menu > span::before {
  content: '';
  top: -8px;
}

.header .header-menu > span::after {
  content: '';
  top: 8px;
}

@media (max-width: 800px) {
  .header .header-bottom .header-menu {
    display: none;
  }
}

.header .header-top .header-menu {
  margin-right: -15px;
  background-color: #034ea2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50px;
  height: 100%;
}

.header .header-top .header-menu > span,
.header .header-top .header-menu > span::before,
.header .header-top .header-menu > span::after {
  background-color: #fff;
  width: 26px;
}

@media (min-width: 800px) {
  .header .header-top .header-menu {
    display: none;
  }
}

.header-bottom {
  background-image: url(../images/header/header-bottom.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 60px;
}

@media (max-width: 1270px) {
  .header-bottom {
    background-image: url(../images/header/header-bottom-right__repeat.png);
    background-repeat: repeat;
    background-size: contain;
    background-position-x: right;
  }
}

@media (max-width: 800px) {
  .header-bottom {
    display: none;
    position: fixed;
    background-image: none;
    background-color: #fff;
    z-index: 999;
    top: 50px;
    left: -100%;
    width: calc(100% - 50px);
    height: 100%;
    -webkit-transition: ease-in-out left 0.3s;
    transition: ease-in-out left 0.3s;
  }
  .header-bottom.active {
    left: 0;
  }
}

.header-bottom .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1920px) {
  .header-bottom .container::after {
    position: absolute;
    content: '';
    /* left: 290px; */
    right: calc(-100% - 265px);
    top: -1px;
    width: 100%;
    height: calc(100%);
    background-image: url(../images/header/header-bottom-right__repeat.png);
    background-repeat: repeat;
    overflow: hidden;
    background-position-x: left;
  }
}

@media (max-width: 800px) {
  .header-bottom .container {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
  }
}

.header-bottom__img {
  position: absolute;
  left: -40px;
}

.header-bottom__img img {
  max-width: 440px;
  -o-object-position: right;
     object-position: right;
  -o-object-fit: cover;
     object-fit: cover;
  height: 25px;
}

@media (max-width: 1366px) {
  .header-bottom__img {
    left: -50px;
  }
}

@media (max-width: 1280px) {
  .header-bottom__img {
    left: -90px;
  }
}

@media (max-width: 800px) {
  .header-bottom__img {
    display: none;
  }
}

.header-bottom__nav {
  width: 100%;
  max-width: 920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #034ea1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  font-size: 18px;
  font-weight: 700;
}

@media (max-width: 1280px) {
  .header-bottom__nav {
    max-width: 875px;
  }
}

.header-bottom__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 800px) {
  .header-bottom__nav ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    z-index: 999;
  }
}

.header-bottom__nav ul li {
  border-right: 1px solid #034ea1;
  padding-right: 25px;
}

@media (max-width: 820px) {
  .header-bottom__nav ul li {
    padding: 15px 0 15px 15px;
    border-right: 0;
    border-top: 1px solid #e7e7e7;
  }
  .header-bottom__nav ul li:last-child {
    border-bottom: 1px solid #e7e7e7;
  }
}

.header-bottom__nav ul li:hover a {
  color: #57585b;
}

.header-bottom__nav ul li:last-child {
  padding-right: 0;
  border-right: 0;
}

.header-bottom__nav ul li a {
  -webkit-transition: ease-in-out color 0.2s;
  transition: ease-in-out color 0.2s;
}

.banner {
  background-color: #034ea1;
  position: relative;
}

@media (max-width: 600px) {
  .banner .container {
    height: 100%;
    min-height: 270px;
  }
}

.banner-video {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 270px;
  top: 0;
  left: 0;
  overflow: hidden;
}

@media (min-width: 600px) {
  .banner-video:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #034ea1;
    width: 100%;
    height: 70px;
    -webkit-box-shadow: 0px -30px 50px 60px #034ea1;
    box-shadow: 0px -30px 50px 60px #034ea1;
    z-index: 10;
  }
}

.banner-video:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(71, 71, 71, 0.3);
  width: 100%;
  height: 100%;
}

.banner-video video {
  width: 100%;
}

@media (max-width: 600px) {
  .banner-video video {
    width: auto;
  }
}

.banner-content {
  padding-top: 30px;
  padding-left: 60px;
  color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

@media (max-width: 820px) {
  .banner-content {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  .banner-content {
    height: 100%;
    min-height: 270px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.banner-content > * {
  z-index: 10;
}

.banner-content__list {
  font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

@media (max-width: 600px) {
  .banner-content__list {
    display: none;
  }
}

.banner-content__list li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  padding: 10px;
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.banner-content__list li span {
  font-size: calc(20px + (26 - 20) * ((100vw - 320px) / (1920 - 320)));
}

.banner-content__link {
  -ms-grid-column-align: end;
      justify-self: end;
  margin-top: 30px;
  margin-right: -15px;
  width: 100%;
  max-width: 450px;
}

@media (max-width: 820px) {
  .banner-content__link {
    max-width: 225px;
  }
}

@media (max-width: 600px) {
  .banner-content__link {
    margin-top: 0;
    grid-column: span 2;
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.banner-content__link a {
  width: 100%;
  display: inline-block;
  color: #fff;
  font-size: calc(22px + (46 - 22) * ((100vw - 320px) / (1920 - 320)));
  text-transform: uppercase;
  background-color: rgba(71, 71, 71, 0.3);
  border: 1px solid #fff;
  border-right: none;
  padding: 30px 0;
  text-align: center;
  border-radius: 100px 0 0 100px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

@media (max-width: 820px) {
  .banner-content__link a {
    padding: 15px 0;
  }
}

.banner-content__link a:hover {
  background-color: rgba(3, 78, 161, 0.9);
}

.banner-content__title {
  margin-top: 25px;
  margin-bottom: 30px;
  grid-column: span 2;
}

.banner-content__title h1 {
  margin: 0;
  font-size: calc(20px + (60 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 400;
}

@media (max-width: 991px) {
  .banner-content__title h1 br {
    display: none;
  }
}

.news {
  background: #dcddde url(../images/news-bg.png) no-repeat;
  background-size: cover;
  padding-bottom: 10px;
  max-width: 1920px;
  margin: 0 auto;
}

.news-slider {
  color: #929396;
  font-weight: 700;
  padding-top: 50px;
  max-width: 1100px;
  z-index: 10;
  position: relative;
}

.news-slider__slide {
  z-index: 10;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 4px 0px 0px rgba(220, 221, 222, 0.9);
          box-shadow: 4px 4px 0px 0px rgba(220, 221, 222, 0.9);
  background-color: #fff;
  padding: 30px 30px 50px;
  margin: 5px;
  height: 365px;
}

.news-slider__slide-date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #dcddde;
  color: #034ea1;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 25px;
}

.news-slider__slide-title {
  position: relative;
  font-size: calc( 18px + (22 - 18) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
  margin-bottom: 40px;
}

.news-slider__slide-title a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.news-slider__slide-title a:hover {
  color: #e70000;
}

.news-slider__slide-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: -30px;
  width: 13px;
  height: 70px;
  background-color: #ec4855;
}

.news-slider__slide-description {
  color: #929396;
  font-size: calc( 16px + (18 - 16) * ((100vw - 320px) / (1920 - 320)));
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  font-weight: 400;
}

.news-slider__slide-next {
  text-transform: uppercase;
  font-weight: 700;
  font-size: calc( 16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.news-slider__slide-next a {
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  color: #929396;
}

.news-slider__slide-next a:hover {
  color: #5f6063;
}

.scroll-to-top {
  position: fixed;
  height: 65px;
  width: 65px;
  right: 28px;
  bottom: 100px;
  background-color: #f4f5f7;
  background-image: url(../images/to-top-arrow.png);
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  text-align: center;
  text-decoration: none;
  display: block;
  border-radius: 50%;
  z-index: 99 !important;
}

.scroll-to-top::after {
  content: 'Вернуться в начало';
  position: absolute;
  top: 100%;
  width: 76px;
  margin-left: -38px;
  left: 50%;
  font-size: 14px;
  text-transform: uppercase;
  color: #aeaeae;
  margin-top: 6px;
  line-height: 15px;
}

.link-to-page {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  z-index: 10;
  text-transform: uppercase;
  background-color: #ec4855;
  border: 1px solid #ec4855;
  padding: 5px 25px;
  margin-top: 20px;
  -webkit-transition: ease-in-out all 0.2s;
  transition: ease-in-out all 0.2s;
}

.link-to-page:hover {
  background-color: #fff;
}

.link-to-page:hover a {
  color: #ec4855;
}

.link-to-page a {
  color: #fff;
}

.capabilities {
  background: url(../images/capabilities/capabilities-bg.png) no-repeat;
  background-size: cover;
  padding-top: 40px;
  padding-bottom: 180px;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 820px) {
  .capabilities {
    background: none;
    background-color: #034ea2;
    padding-bottom: 40px;
  }
}

.capabilities h2 {
  text-align: center;
  font-size: calc( 20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #fff;
  margin: 0 0 60px 0;
}

@media (max-width: 600px) {
  .capabilities h2 {
    margin: 0 0 30px 0;
  }
}

.capabilities-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px 15px;
}

.capabilities-wrapper__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: linear top 0.2s;
  transition: linear top 0.2s;
}

.capabilities-wrapper__item:hover a {
  background-color: #a6cde0 !important;
}

.capabilities-wrapper__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  padding: 15px 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: ease-in-out background-color 0.2s;
  transition: ease-in-out background-color 0.2s;
}

@media (max-width: 600px) {
  .capabilities-wrapper__item > a {
    padding: 7px 10px;
  }
}

.capabilities-wrapper__item-img {
  margin-right: 15px;
  max-width: 55px;
}

.capabilities-wrapper__item-img img {
  width: 100%;
}

.capabilities-wrapper__item-title {
  color: #034ea1;
  font-weight: 700;
  font-size: 18px;
}

.products {
  background: url(../images/products/products-bg.png) no-repeat;
  background-position: top right;
  background-position-x: 59px;
  padding-top: 40px;
  padding-bottom: 20px;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1340px) {
  .products {
    background-position-x: 130px;
  }
}

@media (max-width: 1074px) {
  .products {
    background-position-x: 204px;
  }
}

.products h2 {
  text-align: center;
  font-size: calc( 20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
  color: #034ea1;
  margin: 0 0 40px 0;
}

@media (max-width: 600px) {
  .products h2 {
    margin: 0 0 20px 0;
  }
}

.products-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 25px 15px;
  justify-items: center;
}

@media (max-width: 600px) {
  .products-wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.products-wrapper__item {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .products-wrapper__item {
    width: 100%;
    height: 170px;
  }
}

@media (max-width: 480px) {
  .products-wrapper__item {
    height: 200px;
  }
}

@media (max-width: 375px) {
  .products-wrapper__item {
    height: 175px;
  }
}

.products-wrapper__item > a {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: linear all 0.2s;
  transition: linear all 0.2s;
}

.products-wrapper__item > a:hover {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.products-wrapper__item > a:hover .products-wrapper__item-img::before {
  height: 100%;
  opacity: 0.8;
}

.products-wrapper__item > a:hover .products-wrapper__item-title {
  text-align: left;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.products-wrapper__item > a:hover .products-wrapper__item-link {
  display: block;
}

.products-wrapper__item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.products-wrapper__item-img img {
  width: 100%;
}

.products-wrapper__item-img:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #034ea1;
  width: 100%;
  height: 45px;
  -webkit-box-shadow: 0px -10px 20px 20px #034ea1;
  box-shadow: 0px -10px 20px 20px #034ea1;
  -webkit-transition: linear all 0.2s;
  transition: linear all 0.2s;
}

.products-wrapper__item-title {
  width: 100%;
  z-index: 10;
  color: #fff;
  font-size: calc( 17px + (24 - 17) * ((100vw - 320px) / (1920 - 320)));
  -ms-flex-item-align: end;
      align-self: end;
  text-align: center;
  height: 60px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.products-wrapper__item-link {
  z-index: 1;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  display: none;
}

.products-wrapper__item-link:after {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  margin-bottom: 1px;
  margin-left: 12px;
}

.areas {
  background: url(../images/products/products-bg.png) no-repeat;
  background-position: bottom right;
  background-position-x: 107px;
  color: #034ea1;
  padding-bottom: 45px;
  max-width: 1920px;
  margin: 0 auto;
}

@media (max-width: 1339px) {
  .areas {
    background-position-x: 387px;
  }
}

.areas h2 {
  text-align: center;
  position: relative;
  font-size: calc( 20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  margin: 0 0 60px 0;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/areas/vector-title.png) no-repeat;
}

@media (max-width: 1170px) {
  .areas h2 {
    background-position-x: -100px;
  }
}

@media (max-width: 1000px) {
  .areas h2 {
    background-position-x: -150px;
  }
}

@media (max-width: 600px) {
  .areas h2 {
    margin: 0 -15px 30px -15px;
    background-position-x: -200px;
  }
}

.areas h2:before {
  position: absolute;
  content: '';
  left: calc(-100% + 1px);
  top: 0px;
  height: 72px;
  width: 100%;
  background-color: #014eee;
}

@media (max-width: 1000px) {
  .areas h2:before {
    content: none;
  }
}

.areas-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 767px) {
  .areas-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.areas-wrapper__left {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.areas-wrapper__left .areas-wrapper__item > a .areas-wrapper__item-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.areas-wrapper__item {
  position: relative;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 5px;
  left: 0;
}

.areas-wrapper__item:hover {
  left: -20px;
}

.areas-wrapper__item:hover .areas-wrapper__item-img {
  -webkit-filter: initial;
          filter: initial;
  opacity: 1;
}

.areas-wrapper__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}

.areas-wrapper__item-img {
  width: 70px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  opacity: 0.5;
}

.areas-wrapper__item-title {
  font-size: calc( 16px + (22 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
  max-width: 430px;
}

.about {
  max-width: 1920px;
  margin: 0 auto;
  background: url(../images/about/about-bg.png) no-repeat;
  background-position: top right;
  background-position-x: 107px;
  padding-bottom: 10px;
}

.about h2 {
  text-align: center;
  position: relative;
  font-size: calc( 20px + (30 - 20) * ((100vw - 320px) / (1920 - 320)));
  margin: 0 0 30px 0;
  height: 73px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: url(../images/about/about-vector.png) no-repeat;
  color: #034ea1;
}

@media (max-width: 1170px) {
  .about h2 {
    background-position-x: -100px;
  }
}

@media (max-width: 1000px) {
  .about h2 {
    background-position-x: -150px;
  }
}

@media (max-width: 925px) {
  .about h2 {
    background-position-x: -200px;
  }
}

@media (max-width: 600px) {
  .about h2 {
    margin: 0 -15px 20px -15px;
    background-position-x: -370px;
  }
}

.about h2:before {
  position: absolute;
  content: '';
  left: calc(-100% + 1px);
  top: 0px;
  height: 72px;
  width: 100%;
  background-color: #014eee;
}

.about-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}

@media (max-width: 1250px) {
  .about-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about-wrapper__desc {
  font-size: calc( 16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  color: #034ea1;
  text-indent: 30px;
  text-align: justify;
  margin-right: 25px;
}

@media (max-width: 1250px) {
  .about-wrapper__desc {
    margin-bottom: 20px;
  }
}

.about-wrapper__desc p {
  margin-top: 0;
  margin-bottom: 20px;
}

.about-wrapper__desc p:last-child {
  margin-bottom: 0;
}

.about-wrapper__photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}

@media (max-width: 1250px) {
  .about-wrapper__photos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about-wrapper__photos-item {
  max-width: 240px;
  width: calc(100% / 3);
}

.about-wrapper__photos-item img {
  width: 100%;
}

.mailing {
  background: url(../images/mailing-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 130px 0;
}

@media (max-width: 600px) {
  .mailing {
    padding: 40px 0;
  }
}

.mailing-wrapper h2 {
  color: #fff;
  text-align: center;
  font-size: calc( 20px + (36 - 20) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 700;
}

.mailing-wrapper p {
  margin: 20px auto 40px;
  max-width: 770px;
  color: #fff;
  text-align: center;
  font-size: calc( 16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
}

.mailing-wrapper__form {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 650px;
}

.mailing-wrapper__form form {
  width: 100%;
}

.mailing-wrapper__form input[type='email'] {
  width: 100%;
  background-color: transparent;
  border: 1px solid #fff;
  outline: none;
  border-radius: 10px;
  padding: 25px 0;
  text-align: center;
  color: #fff;
  font-size: calc( 14px + (20 - 14) * ((100vw - 320px) / (1920 - 320)));
  margin-bottom: 10px;
}

@media (max-width: 600px) {
  .mailing-wrapper__form input[type='email'] {
    padding: 10px 0;
  }
}

.mailing-wrapper__form button {
  width: 100%;
  color: #fff;
  background-color: #ec4855;
  text-transform: uppercase;
  font-size: calc( 16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  padding: 20px 0;
  border: 1px solid #ec4855;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: ease-in-out all 0.2s;
  transition: ease-in-out all 0.2s;
}

@media (max-width: 600px) {
  .mailing-wrapper__form button {
    padding: 10px 0;
  }
}

.mailing-wrapper__form button:hover {
  background-color: #fff;
  color: #ec4855;
}

.footer {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: #f8f8fa;
}

.footer-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  color: #989ca9;
}

@media (max-width: 800px) {
  .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 800px) {
  .footer-wrapper__desc-logo {
    display: none;
  }
}

.footer-wrapper__desc p {
  max-width: 350px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 50px;
}

.footer-wrapper__desc-socials {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.footer-wrapper__desc-socials sup {
  position: absolute;
  bottom: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: auto;
  font-weight: 700;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer-wrapper__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 800px) {
  .footer-wrapper__nav {
    display: none;
  }
}

.footer-wrapper__nav ul li {
  font-size: 16px;
  margin-bottom: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer-wrapper__nav ul li:hover {
  font-weight: 700;
}

.footer-wrapper__nav ul li a {
  color: #989ca9;
}

.footer-wrapper__nav ul li:last-child {
  margin-bottom: 0;
}

.footer-wrapper__contacts {
  max-width: 300px;
  padding: 55px 30px 0px 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-self: end;
}

@media (max-width: 600px) {
  .footer-wrapper__contacts {
    background-color: transparent;
    padding: 0;
  }
}

.footer-wrapper__contacts-row {
  background-position: 0 4px;
  color: #989ca9;
  font-size: 15px;
  line-height: 24px;
  padding-left: 35px;
  background-repeat: no-repeat;
  margin-bottom: 31px;
}

.footer-wrapper__contacts-row--address {
  background-image: url(../images/footer/address.svg);
}

.footer-wrapper__contacts-row--phone {
  background-image: url(../images/footer/phone.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: calc( 16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
  font-weight: 600;
}

.footer-wrapper__contacts-row--phone span {
  font-size: 14px;
}

.footer-wrapper__contacts-row--email {
  background-image: url(../images/footer/mail.svg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=style.css.map */